.comment-title {
	color: #55C65E ;
	text-align: center;
}

.addcomment-submitButton {
	background-color: #55C65E;
	/* box-shadow: 2px 3px 3px #f7a8a8; */
	border: 1px solid #55C65E;
	padding: 5px 14px;
	color: #fff;
	border-radius: 20px;
}
.addcomment-submitButton:hover {
	background-color: #fff;
	box-shadow: 4px 5px 3px #f7a8a8;
	color: #55C65E;
	border: 1px solid #55C65E;
}
.addcomment-submitButton:focus {
	outline: none;
}
.addcomment-input {
	border-color: #55C65E;
	border-radius: 20px;
	padding: 14px;
}

.addcomment-input:hover {
	background-color: #fff;
	box-shadow: 4px 5px 3px #f7a8a8;
	color: #55C65E;
	border: 1px solid #55C65E;
}

.addcomment-input:focus {
	background-color: #fff;
	box-shadow: 4px 5px 3px #f7a8a8;
	color: #55C65E;
	border: 1px solid #55C65E;
}
.addcomment-label {
	color: #55C65E ;
}
.comment-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-top: 1px solid #55C65E;
	padding: 10px 0;	 
} 

.comment-box-left {
	margin-right: 5%;
	width: 50%;
}

.comment-box-right {
	text-align: left;
	width: 65%;
}
.comment-username {
	font-size: 15px;
}
.comment-email {
	font-size: 15px;
}
.comment-comment {
	font-size: 15px;
}